body{
	background: floralwhite;
}
.w-full {
	position: relative;
	margin-top: 5%;
	z-index: 1;
}
h1{
	font-weight: bold;
	font-size: 100%;
}
.w-full{
	width: 100%;
}
.menu{
	position: fixed;
	background: skyblue;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.menu ul{
	bottom: 0;
	list-style-type:none;/*箇条書きのポッチを消す*/
	text-align: center/*左右中央寄せは親要素に対して指定*/
}
.menu ul li{
	font-size: 80%;
	display:inline-block;
	width: 20%; /*100%割る「menu tabの数」 */
	padding: 0;
	margin: 0;
	vertical-align:middle;/*縦の表示位置を真ん中に*/
	background: skyblue;
	font-weight: bold;/*文字を太字に*/
	color: black;/*文字色*/
}

.intro, .news, .research, .publish, .collabo{
	border: solid 1px gray;
	position: relative;
}
.subtitle:before, .subtitle:after{
	content: "---";
}
.intro p{
	text-align: center;
	font-size: 30px;
}

h2{
	text-align: center;
	font-size: 300%;
	display: block;
	padding:8px;
	margin: 10px;
	font-weight: bold;
}
.collabo ul{
	bottom: 0;
	list-style-type:none;
	text-align: center;
}
.collabo ul li{
	display:inline-block;
	padding: 10px;
	margin: 5px;
	vertical-align:middle;/*縦の表示位置を真ん中に*/
	font-weight: bold;/*文字を太字に*/
	color: black;/*文字色*/
	border: solid 3px black;
}
.bottom_tab{
	background-color: gray;
	text-align: center;
	color:white;
}
.bottom_tab li.left{
	text-align: left;
}
.bottom_tab ul.ul1{
	top:0;
	list-style-type:none;
}
.bottom_tab ul.ul1 li{
	padding: 10px;
	margin: 5px;
	vertical-align:middle;/*縦の表示位置を真ん中に*/
}
.bottom_tab ul.ul2{
	list-style-type:none;
}
.bottom_tab ul.ul2 li{
	display:inline-block;
	padding: 5px;
	vertical-align:middle;/*縦の表示位置を真ん中に*/
}
.address{
	text-align: right;
	margin:10px;
}