body{
	background: white;
	color: black;
}
.w-full {
	position: relative;
	margin-top: 5%;
	z-index: 1;
	width: 100%;
}
h1{
	font-weight: bold;
	font-size: 100%;
}

/*背景画像*/
.background img.back_img{
	position: absolute;
	width: 100%;
	height: auto;
	z-index: 1;
}

/*menu*/
.menu{
	position: fixed;
	background: skyblue;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.menu ul{
	bottom: 0;
	list-style-type:none;/*箇条書きのポッチを消す*/
	text-align: center/*左右中央寄せは親要素に対して指定*/
}
.menu ul li{
	font-size: 80%;
	display:inline-block;
	width: 10%; 
	padding: 0;
	margin: 0;
	vertical-align:middle;/*縦の表示位置を真ん中に*/
	font-weight: bold;/*文字を太字に*/
	color: black;/*文字色*/
}

/*common*/
.intro, .link-icon, .news, .topic, .collabo{
	border: solid 1px black;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	background-color: white;
	margin-top: 0;
	margin-bottom: 0;
	z-index: 100;
}
.subtitle:before, .subtitle:after{
	content: "---";
}

/*intro*/
.intro p{
	text-align: center;
	font-size: auto;
}

/*link-icon*/
.link-icon ul {
	bottom: 0;
	list-style-type: none;
	text-align: center;
}
.link-icon a, .link-icon .link1, .link-icon .link2, .link-icon .link3, .link-icon .link4{
	height: 100%;
	width:100%;
}
.link-icon ul li{
	display: inline-block;
	background-color: skyblue;
	vertical-align: middle;
	color:black;
	border: solid 3px;
	margin-left: 20px;
	margin-right: 20px;
}
.link-icon .pic1, .link-icon .pic2, .link-icon .pic3, .link-icon .pic4{
	height: 5rem;
	margin: 5px;
}

/*Collaborators*/
h2{
	text-align: center;
	font-size: 150%;
	display: block;
	padding:8px;
	margin: 10px;
	font-weight: bold;
}
.collabo ul{
	bottom: 0;
	list-style-type:none;
	text-align: center;
}
.collabo ul li{
	display:inline-block;
	padding: 10px;
	margin: 5px;
	vertical-align:middle;/*縦の表示位置を真ん中に*/
	font-weight: bold;/*文字を太字に*/
	color: black;/*文字色*/
	border: solid 3px black;
}
.collabo li.tsai_web, li.riken_web, li.nict_web, li.aist_web, li.moonshot_web, li.q-leep_web, li.kakenhi_web{
	background-color: white;
	
}
.collabo img{
	width: auto;
	height: 50px;
}

/* bottom_tab */
.bottom_tab{
	text-align: center;
	background-color: grey;
	color:white;
	z-index: 1000;
}
.bottom_tab li.left{
	text-align: left;
}
.bottom_tab ul.ul1{
	top:0;
	list-style-type:none;
}
.bottom_tab ul.ul1 li{
	padding: 10px;
	margin: 5px;
	vertical-align:middle;/*縦の表示位置を真ん中に*/
}
.bottom_tab ul.ul2{
	list-style-type:none;
}
.bottom_tab ul.ul2 li{
	display:inline-block;
	padding: 5px;
	vertical-align:middle;/*縦の表示位置を真ん中に*/
}
.address{
	text-align: right;
	margin:10px;
}