/*menu*/
h1{
	font-weight: bold;
	font-size: 100%;
}
.menu{
	position: fixed;
	background: skyblue;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.menu ul{
	bottom: 0;
	list-style-type:none;/*箇条書きのポッチを消す*/
	text-align: center/*左右中央寄せは親要素に対して指定*/
}
.menu ul li{
	font-size: 80%;
	display:inline-block;
	width: 10%; 
	padding: 0;
	margin: 0;
	vertical-align:middle;/*縦の表示位置を真ん中に*/
	font-weight: bold;/*文字を太字に*/
	color: black;/*文字色*/
}

.people_box{
	margin-top:100px;
}
.people_box ul{
	text-align: center;

}
.people_box li{
	display: inline-block;
	background-color: skyblue;
	vertical-align: middle;
	color:black;
	border: solid 3px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}